@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Roboto:wght@300;400;500&display=swap");
*, ::before, ::after {
  box-sizing: border-box;
}
body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}
main {
  padding: 0 1rem;

}