$lightgrey:  #f6f6f6;

.menus  {background-color:$lightgrey;
    h2 {
        margin-top: 2rem;
    }
    .menus__cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap : 2rem;
        
        
    }
.cards {
    border: 1px solid black;
    height: 4rem;
    & .cards__image {
        background:url();
        height: 15rem;
    }
}
}

