.order-list {
    & ol {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
    & li {
        background-color:#f6f6f6;
        padding: 1rem 2rem;
        flex-grow: 1;
       @include base-shadow;
       border-radius: 1rem;
       &:hover {
        @include zoom;
       }
    }


}