@use"../utils/variables.scss";
@import "../utils/mixin.scss";
.order-list {
    margin-left: 20px;
    padding: 3rem 0.5rem;

   
    & ol {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem; 
        padding: 0;
        @media screen and (min-width:$breakpoint) {
            justify-content: center;
         }
    }
    & li {  
        @media screen and (min-width:609px) {
            width: auto;  
        }
        @media screen and (min-width:615px){  
        flex-grow: 0;   
        }
        @media screen and  (min-width:915px){
            flex-grow: 1;
        }
        flex-grow: 1;
        list-style: none;
        background-color:variables.$lightgrey;
        padding: 1rem 2rem;
        width: 100%;
       @include base-shadow;
       border-radius: 1rem;
       height: 60px;
       display: flex;
       align-items: center;
       &:hover {
        @include zoom;
       }
       .steps {
        background:variables.$primary-color;
        color:variables.$white;
        width: 20px;
        display: block;
        border-radius: 50%;
        text-align: center;
        position: relative;
        left: -2.6rem;
       }
       & i.fas {
        margin-right: 1rem;
        color: variables.$grey;
       }
    }
}