@use"../utils/variables.scss";
@import "../utils/mixin.scss";
.order-list {
    & ol {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem; 
    }
    & li {  
        list-style: none;
        background-color:variables.$lightgrey;
        padding: 1rem 2rem;
        flex-grow: 1;
       @include base-shadow;
       border-radius: 1rem;
       height: 60px;
       display: flex;
       align-items: center;
       &:hover {
        @include zoom;
       }
       .steps {
        background:variables.$primary-color;
        color:variables.$white;
        width: 20px;
        display: block;
        border-radius: 50%;
        text-align: center;
        position: relative;
        left: -2.6rem;
        
       }
       & i.fas {
        margin-right: 1rem;
        color: variables.$grey;
       }
    }


}