@import "../utils/mixin.scss";

.xplore {
    text-align: center;
    & h2 {

      font-size: 2rem;
     }
     & p {
       font-size: 1rem;
     }
     & button {
       background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
       color :white;
       font-weight: 400;
       font-size: 1,5rem;
       padding: 1rem 2rem;
       border: none;
       border-radius: 2rem;
       @include base-shadow;
       margin-top: 1rem;
       transition: transform 200ms;
     }
     & button:hover{
       transform: scale(1.02);
       opacity: 0.9;
     }
   }