@import "../utils/mixin.scss";
@import"../utils/animations.scss";

.xplore {
    text-align: center;
    background-color:$lightgrey;
    padding-bottom: 4rem;
    & h2 {
      padding-top: 2rem;
      padding-bottom: 0;
      font-size: 2rem;
     }
     & p {
      font-weight: 300;
      padding: 0.5rem;
     }
     & button {
<<<<<<< HEAD
       @include button;
       font-size:1rem;
=======
      p {
        padding: 0;
      }
       @include button
       
>>>>>>> 53bf37d34baa3610866fa88e1d45b7442e7f40b8
     }
   }
   .loader {
    $animation-duration: 3s;
   
    display: grid;
    place-items: center;
    position: fixed;
    background-color: $white;
    height: 100vh;
    inset: 0;
    z-index: 1;
    opacity: 0.9;
    animation: disappear 400ms $animation-duration ;
    animation-fill-mode: forwards;
    transform-origin: top;
    &::after {
      content: "";
      animation: spin $animation-duration infinite ease-in-out ;
      height: 100px;
      width: 100px;
      border-right: 5px solid transparent;
      border-top: 5px solid $tertiary-color;
      border-radius: 50%;

    }


   }
@keyframes disappear {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }  
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
  
}
.margin-class {
  @media screen and (min-width: $breakpoint) {
    margin: 0rem 6rem!important;

  }
  
}
.fonction-resto{
  padding-bottom: 1rem;
  margin: 0;
  padding-top: 0;

}
 
  
 