@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

main {
  padding: 0 1rem;
}

h1 {
  font-size: 20px;
}

h2 {
  padding: 2rem 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 0.3rem;
  position: relative;
}

.city {
  background-color: #EAEAEA;
  text-align: center;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.city i {
  font-size: 1.2rem;
}

.menus {
  background-color: #f6f6f6;
  margin-bottom: 2rem;
}
.menus .menus__cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media screen and (min-width: 900px) {
  .menus .menus__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.menus .menus__cards .new {
  position: relative;
}
.menus .menus__cards .new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99E2D0;
  color: #1b6150;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
}
.menus .cards img {
  height: 180px;
  object-fit: cover;
  width: 100%;
  border-radius: 2rem 2rem 0 0;
  display: flex;
}
.menus .cards__description {
  position: relative;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
  display: flex;
  flex-direction: column;
}
.menus .cards__description h3, .menus .cards__description p {
  margin: 0.5rem;
}
.menus .cards__description i {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.menus .cards__description .fa-solid {
  opacity: 0;
}
.menus .cards__description .fa-solid:hover {
  opacity: 1;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(0deg, rgb(147, 86, 220), rgb(255, 121, 218));
}

.order-list ol {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.order-list li {
  list-style: none;
  background-color: #f6f6f6;
  padding: 1rem 2rem;
  flex-grow: 1;
  box-shadow: 2px 1px 16px -3px #f6f6f6;
  border-radius: 1rem;
  height: 60px;
  display: flex;
  align-items: center;
}
.order-list li:hover {
  transform: scale(1.02);
}
.order-list li .steps {
  background: #9356dc;
  color: white;
  width: 20px;
  display: block;
  border-radius: 50%;
  text-align: center;
  position: relative;
  left: -2.6rem;
}
.order-list li i.fas {
  margin-right: 1rem;
  color: #7e7e7e;
}

.xplore {
  text-align: center;
}
.xplore h2 {
  font-size: 2rem;
}
.xplore p {
  font-size: 1rem;
}
.xplore button {
  color: white;
  font-weight: 400;
  font-size: 1, 8rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  margin-top: 1rem;
  transition: transform 200ms;
  cursor: pointer;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  box-shadow: 2px 1px 16px -3px #f6f6f6;
}
.xplore button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

footer {
  background-color: #353535;
  padding: 1rem 2rem;
  color: white;
}
footer h2 {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  padding: 1rem 0;
}

*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

main {
  padding: 0 1rem;
}

h1 {
  font-size: 20px;
}

h2 {
  padding: 2rem 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #f6f6f6;
}

.banner img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  display: block;
}

.resto-main {
  padding: 0;
}
.resto-main h3 {
  padding: 0 0.8rem;
  margin-top: auto;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
}
.resto-main h3::after {
  content: "";
  position: absolute;
  top: 1.5rem;
  left: 0.9rem;
  height: 0.25rem;
  width: 3rem;
  background-color: #99E2D0;
}
@media (min-width: 768px) {
  .resto-main {
    padding: 0 12rem;
    background: white;
  }
}
.resto-main .resto_title h2 {
  font-family: "Shrikhand", serif;
}
@media (min-width: 768px) {
  .resto-main .resto_title h2 {
    text-align: center;
  }
}
.resto-main .resto_title {
  position: relative;
  padding: 0 0.9rem;
  margin-top: -2rem;
  background: #f6f6f6;
  border-radius: 2.3rem 2.3em 0 0;
}
.resto-main .resto_title i {
  font-size: 23px;
  position: absolute;
  right: 4rem;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  .resto-main .resto_title i {
    right: 18rem;
  }
}
.resto-main .resto_title .fa-solid {
  opacity: 0;
}
.resto-main .resto_title .fa-solid:hover {
  opacity: 1;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(0deg, rgb(147, 86, 220), rgb(255, 121, 218));
}
.resto-main .menu {
  background-color: #f6f6f6;
  display: grid;
  gap: 1rem;
}
.resto-main .menu .menu_category {
  border-radius: 1rem;
  margin: 0 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  overflow: hidden;
}
.resto-main .menu-item {
  background: white;
  display: flex;
  border-radius: 1rem;
  box-shadow: 2px 2px 2px #7e7e7e;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0.2rem;
  margin-bottom: 0.1rem;
}
.resto-main .menu-item .menu-item__price {
  margin-left: auto;
  font-weight: 900;
  display: flex;
  align-items: center;
  margin-right: 1rem;
  margin-top: 1rem;
}
.resto-main .menu-item .menu-item__description {
  padding: 1rem;
  border-radius: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.resto-main .menu-item .menu-item__description h4, .resto-main .menu-item .menu-item__description p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.resto-main .menu-item .menu-item__description p {
  font-size: 13px;
}
.resto-main .menu-item .menu-item__check {
  background-color: #99E2D0;
  margin-right: -4rem;
  width: 4rem;
  border-radius: 0 1rem 1rem 0;
  transition: margin-right 0.5s;
  display: grid;
  place-items: center;
  position: relative;
  flex-shrink: 0;
}
.resto-main .menu-item .menu-item__check i {
  display: grid;
  place-items: center;
  background: white;
  aspect-ratio: 1;
  width: 2rem;
  border-radius: 50%;
  color: #99E2D0;
}
.resto-main .menu-item:hover .menu-item__check {
  margin-right: 0;
}
.resto-main div.command {
  height: 30vh;
  display: grid;
  place-items: center;
}
.resto-main div.command button {
  color: white;
  font-weight: 400;
  font-size: 1, 8rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  margin-top: 1rem;
  transition: transform 200ms;
  cursor: pointer;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  box-shadow: 2px 1px 16px -3px #f6f6f6;
}
.resto-main div.command button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}



/*# sourceMappingURL=style.css.map */
