@import"../utils/mixin.scss";
@import"../utils/variables.scss";
.banner img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    display: block;
}

.resto-main {
padding: 0;
@media (min-width:$breakpoint){
    padding: 0 1rem;
    background:$white;
    
}
.resto_title h2 {
    font-family: 'Shrikhand', serif;
    @media (min-width: $breakpoint) {
        text-align: center;
    }
     }
     .resto_title { 
        position: relative;
        padding: 0 0.9rem;
        margin-top: -2rem;
        background:$lightgrey;
        border-radius: 2.3rem 2.3em 0 0;
            i {
                font-size: 23px;
                position: absolute;
                right: 2.6rem;
                top: 15%;
                transform: translateY(-50%);
                @media (min-width: $breakpoint) {
                    right: 18rem;
                }
              }

        .fa-solid {
            opacity: 0;
            &:hover {
                opacity: 1;
                color: transparent;
                background-clip: text;
                -webkit-background-clip: text;
                transition: all 0.4s ease-in-out;
               @include gradient(1);
            } 
          }
     }
     .menu {
        background-color: $lightgrey;
        display: grid;
        gap: 1rem;
        .menu_category { background: $white;
            border-radius: 1rem;
     }
     }
     .menu-item {
        display: flex;
        .menu-item__price {
            margin-left: auto;
            font-weight: 900;
            display: flex;
            align-items: flex-end;
        }
        .menu-item__description {
            padding: 1rem;
        }
        p,h4 {
            margin: 0;
            padding: 0;
        }
        .menu-item__check {
            background-color: $tertiary-color;
        }
     }

    }
