@import"../utils/mixin.scss";
@import"../utils/variables.scss";
@import"../utils/animations.scss";
#history {
    background-color: $lightgrey;
    header i {
        position: absolute;
        left: 1rem;
       top: 1.7rem;
    }
    .banner img {
        width: 100%;
        height: 60vh;
        object-fit: cover;
        display: block;
        height: 50vh;
        @media screen and (min-width: 425px) {    
             height: 40vh
            }
    }
    .resto-main {
        padding: 0;
        h3 {
            padding: 0 0.8rem;
            margin-top: auto;
            text-transform: uppercase;
            font-weight: 400;
            position: relative; 
            &::after {
                content: "";
                position: absolute;
                top: 1.5rem;
                left: 0.9rem;
                height: 0.25rem;
                width: 3rem;
                background-color: $tertiary-color;
            }
        }
        @media (min-width:$breakpoint){
            padding: 0 11rem;
            background:$white;    
}
.resto_title h2 {
    font-family: 'Shrikhand', serif;
    font-size: 1.8rem;
    @media (min-width: $breakpoint) {
        text-align: center;
    }
}
.resto_title { 
    position: relative;
        padding: 0 0.9rem;
        margin-top: -2rem;
        background:$lightgrey;
        border-radius: 2.3rem 2.3em 0 0;
        img {
            position: absolute;
            top: 41%;
            right: 2rem;
                @media (max-width:335px){
                    right: 2rem;
                }
                @media (min-width: $breakpoint) {
                    right: 3rem;
                }
                @media screen and (min-width:1024px) {
                    right: 9rem;  
                }
                @media  screen and (min-width:$breakdesktop) {
                    right: 19.7rem;
                }
               
                .heart{
                    transition: all 0.2s ease 0s;
                    &:hover{
                        opacity: 0;
                    }
                }

                }
                .heartTwo {
                    opacity: 0;  
                    @media  screen and (min-width:$breakdesktop) {
                        right: 19.7rem;
                    }
                    &:hover{
                        opacity: 1;
                    }
                    }
            
    }
    .menu {
        background-color: $lightgrey;
        display: grid;
        gap: 1rem;
        @media screen and (min-width: $breakpoint) {
            padding: 0 6rem;
        }
        .menu_category {
            border-radius: 1rem;
            margin: 0 0.8rem;
            display: flex;
            flex-direction: column;
            gap: 0.8rem;
            overflow: hidden;  
        }
        .mbottom {
            margin-bottom: 1.2rem;
           }
    }
    .menu-item {
        @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
                animation-delay: 100ms*$i;
            }
        }
        background: $white;
        display: flex;
        border-radius:$radius-1;
        @include base-shadow;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0 0.2rem;
        margin-bottom: 0.2rem;
        animation-name: apparence;
        animation-duration: 3s;
        animation-iteration-count: initial;
        animation-fill-mode: both;
        cursor: pointer;
        .menu-item__price {
            margin-left: auto;
            font-weight: 900;
            display: flex;
            align-items: center;
            margin-right: 1rem;
            margin-top: 1rem;
        }
        .menu-item__description {
            padding: 1rem;
            border-radius:$radius-1;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            h4,p {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                margin: 0;
                padding: 0;
            }
            p {
               font-size: 13px;
            }  
        }
        .menu-item__check {
            background-color: $tertiary-color;
            $button-width: 4rem;
            margin-right: -$button-width;
            width: $button-width;
            border-radius: 0 1rem 1rem 0;
            transition: margin-right 0.5s;
            display: grid;
            place-items: center;
            position: relative; 
            flex-shrink: 0;
            i {
                display: grid;
                place-items: center;
                background: $white;
                aspect-ratio: 1/1;
                width: 2rem;
                border-radius: 50%;
                color: $tertiary-color;
            } 
        }
        &:hover .menu-item__check {
            margin-right: 0      
        }    
    }
    div.command {
        height: 30vh;
        display: grid;
        place-items: center;
        button {

            @include button 
        }
    }
}
}
