@keyframes apparence {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }
    100% {
<<<<<<< HEAD
    
=======
>>>>>>> 53bf37d34baa3610866fa88e1d45b7442e7f40b8
        opacity: 1;
    }   
}

@keyframes disappear {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(0);
    }  
  }
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
    
  }