@keyframes apparence {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }
    100% {
    
        opacity: 1;
    }   
}

@keyframes disappear {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(0);
    }  
  }
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
    
  }