@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Roboto:wght@300;400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');
*, ::before, ::after {
  box-sizing: border-box;
}
body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 16px;
}

h2 {
  padding: 2rem 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
